<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Site</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/sites/<%= site._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="site[title]" id="title" value="<%= site.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="site[location]" id="location" value="<%= site.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">
                            <span class="form-file-text">Add more site image(s)</span>
                        </label>
                        <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="attractions">Attractions</label>
                    <input class="form-control" type="text" name="site[attractions]" id="attractions" value="<%= site.attractions %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="site[description]" id="description" required><%= site.description %> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <% site.images.forEach(function(img, i) {   %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">                      
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    <% }); %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update Site</button>
                </div>
            </form>
            <a href="/sites/<%= site._id %>">Back To Sites</a>
        </div>
    </div>